.Habilidades {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Habilidades li {
  width: 60rem;
  height: 10rem;
  background-color: white;
  padding-left: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
  border-radius: 1.8rem;
}
.Habilidades li:hover {
  box-shadow: 0 0 0 0.36rem #8A2BE2;
}
.Habilidades li p {
  font-size: 1.68rem;
  color: black;
  font-weight: 600;
  text-align: left;
}
.Habilidades li:last-child p {
  font-size: 1.5rem;
}