@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: 'Poppins', Sans-Serif;
  background-color: #1C1C1C;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}