@media (max-height: 700px) and (orientation: portrait) {

  .Apresentacao {
    padding-top: 0rem;
    gap: 2rem;
  }
}
@media (max-width: 660px) and (orientation: portrait) {
.Navbar {
  position: fixed;
  top: 0;
  height: 8rem;
  padding: 0 2rem;
}
.Logo {
  font-size: 2rem;
}
.Guias {
   position: fixed;
   flex-direction: column;
   gap: 4rem;
   justify-content: flex-end;
   align-items: flex-start;
   background-color: #1B1B1B;
   width: 50%;
   height: 36rem;
   top: 0;
   right: -50%;
   border-bottom-left-radius: 1rem;
   border-left: solid 0.2rem gray;
   border-bottom: solid 0.2rem gray;
   padding: 0 16%;
   z-index: 100;
   padding-bottom: 16%;
   transition: linear 300ms;
   transition-delay: 250ms;
}
.Guias.on {
  right: 0;
}
.OnMenuMobileButton {
  display: flex;
}
#OffMenuMobileButton {
  display: block;
}
.Home {
  height: 100vh;
  flex-direction: column;
  padding-top: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.Apresentacao {
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8rem;
  text-align: center;
}
.Titulo h1 {
  font-size: 4.6rem;
  line-height: 4.8rem;
}
.SubTitulo p {
  max-width: 90%;
  font-size: 1.4rem;
}
.Titulo {
  justify-content: center;
}
.SubTitulo {
  justify-content: center;
}
.MyName::after {
  bottom: -0.2em;
}
.Info-a-direita {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.Info-a-direita img {
  max-width: 90%;
}
.Contatos {
  bottom: 8%;
  left: 0;
}
.Projetos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
  padding-top: 14rem;
  padding-bottom: 6rem;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
}
.Projetos li {
  width: 30rem;
  min-height: 20rem;
  margin: 0;
}
.Projetos li p {
  font-size: 1.2rem;
}
.Habilidades {
  height: 100vh;
  padding-top: 8rem;
}
.Habilidades {
  gap: 4rem;
}
.Habilidades li {
  max-width: 80%;
}
.Habilidades li p {
  font-size: 1.2rem;
}
.Habilidades li:last-child p {
  font-size: 1.10rem;
}
}
@media (min-width: 760px) and (orientation: portrait) {

  .Home {
   flex-direction: column;
   justify-content: center;
  }
  .Apresentacao {
    height: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Titulo {
    justify-content: center;
  }
  .SubTitulo {
    justify-content: center;
  }
  .Titulo h1 {
    font-size: 6.8rem;
  }
  .SubTitulo p {
    font-size: 1.48rem;
  }
  .Info-a-direita {
    height: 40%;
  }
  .Contatos {
    bottom: -2rem;
    right: 0;
    left: 0;
  }
  .Projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8rem;
  }
}
@media (max-width: 800px) and (orientation: landscape) {
  .Titulo h1 {
    font-size: 4.6rem;
  }
  .Info-a-direita img {
    max-width: 40rem;
  }
  .Projetos {
    padding: 6rem;
  }
  .Habilidades li {
    width: 46rem;
    height: 4rem;
  }
  .Habilidades li p {
    font-size: 1.2rem;
  }
  .Habilidades li:last-child p {
    font-size: 1.12rem;
  }
}
/*@media (max-width: 1080px) and (orientation: landscape) {
 
  }
  }*/
@media (min-width: 1440px) and (orientation: landscape) {
  .Titulo h1 {
    font-size: 7.2rem;
  }
  .SubTitulo p {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
  .Projetos {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    padding: 8rem;
  }
}
@media (min-width: 1920px) and (orientation: landscape) {
  .Apresentacao {
    gap: 5rem;
  }
  .Titulo h1 {
    font-size: 10rem;
  }
  .SubTitulo p {
    font-size: 1.64rem;
    line-height: 3rem;
  }
  .Info-a-direita img {
    max-width: 60rem;
  }
}
@media (min-width: 3840px) and (orientation: landscape) {
 html {
   font-size: 20px;
 }
}